{% extends "base.html" %}
{% load static %}



{% block title %}
Milu's Protfolio
{% endblock title %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100">
                <img id="PROFILE_PIC" src="{% static '/images/ProfilePic.jpg' %}" alt="Profile Picture">
                <hr>
                <h4>Hi I'm <b>Zahid Hasan Milu</b></h4>
                <p>I love coding, doing research and collaborating</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body h-100">
                <h4><b>ABOUT ME</b></h4>
                <hr>
                <p>I'm a quick study of Python, the Django Framework, and I have a diploma in computer science. I'm
                    currently a student at Northern University Bangladesh studying computer science engineering.
                    Looking for internship or employment opportunities. <br> <br> I want to combine my software
                    engineering skills with a challenging position that will allow me to grow professionally and
                    personally.
                </p>
            </div>
        </div>
    </div>
    <br>
    <!-- ################ -->
    <div class="row">
        <div class="col-md-12">

            <div class="card card-body h-100">
                <!-- <h2> Professional Training</h2> -->
                <h4><b>EXPERIENCE</b></h4>
                <hr>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Company Name</th>
                            <th>Designation</th>
                            <th>Location</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Prescription Point Ltd.</td>
                            <td>Jr. IT Executive</td>
                            <td>Banani, Dhaka</td>
                            <td>Aug 2018 To Till Now</td>
                        </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>
    <br>
    <!-- ######################## -->
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-100">
                <!-- <h2> Professional Training</h2> -->
                <h4><b>PROFESSIONAL TRAINING</b></h4>
                <hr>
                <p>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Course Title</th>
                            <th>Duration</th>
                            <th>Institute name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Python and Django</td>
                            <td>4 month</td>
                            <td>Interactive-Cares</td>
                        </tr>
                        <tr>
                            <td scope="row">Python and Django Advanced</td>
                            <td>6 month</td>
                            <td>Hr-Vanture</td>
                        </tr>
                        <tr>
                            <td scope="row">Python and Django Advanced</td>
                            <td>6 month</td>
                            <td>Creative IT Institute</td>
                        </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-100">
                <h4><b> EDUCATIONAL QUALIFICATIONS </b></h4>
                <hr>
                <pre>
<b>BSc in CSE</b>
Northern University Bangladesh
CGPA 3.02
</pre>
                <br>
                <pre>
<b>Diploma In CSE</b>
Jassore Polytechnic Institute
CGPA 3.02
</pre>
            </div>
        </div>
    </div>
    <br>
    <!-- ################ -->
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100">
                <h4><b>SKILLS</b></h4>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">Django</li>
                    <li class="list-group-item">Rest Api</li>


                    <li class="list-group-item">Html</li>
                    <li class="list-group-item">Css</li>


                    <li class="list-group-item">Bootstrap</li>
                    <li class="list-group-item">Git and Github</li>
                    <li class="list-group-item">Mysql</li>
                    <li class="list-group-item">IDE</li>
                </ul>

            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                <h4><b>TECHNICAL SKILLS</b></h4>
                <hr>
                <ul class="list-group list-hover">
                    <li class="list-group-item">Comfortable using Linux as well as Windows.</li>
                    <li class="list-group-item">Good Knowledge of Python and Python Web Framework Django. </li>
                    <li class="list-group-item">Understanding OOP and MVC frameworks.</li>
                    <li class="list-group-item">Write reusable OOP code in Python-Django.</li>
                    <li class="list-group-item">Design, code according to software design specifications following
                        standard coding styles and practice.</li>
                    <li class="list-group-item">Good Knowledge Html, Css, Bootstrap.</li>
                    <li class="list-group-item">Good experience in working with various Python Integrated
                        Development Environments like Vs-Code, Atom, PyCharm, Idle, and Jupyter Notebook.</li>
                    <li class="list-group-item">Good knowledge of open source and web based software.</li>
                    <li class="list-group-item">Good knowledge of model, view, templates.</li>
                    <li class="list-group-item">Understanding and implementation of REST APIs.</li>
                    <li class="list-group-item">MySQL/PostgreSQL database design for a web program.</li>
                    <li class="list-group-item">Work with co-workers in version control systems like Git.</li>
                    <li class="list-group-item">Quick learner.</li>

                </ul>
            </div>
        </div>
    </div>
    <br>
    <!-- ################ -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body h-100">
                <h4><b>CONTECT INFO</b></h4>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item"> <b> Phone:</b> 01951176620</li>
                    <li class="list-group-item"> <b> Email:</b> <a href="#">Minions.milu889@gmail.com</a></li>
                    <li class="list-group-item"> <b> Github:</b> <a href="https://github.com/zahidhasanmilu"
                            target="_blank">https://github.com/zahidhasanmilu</a> </li>
                    <li class="list-group-item"> <b> Linkdin:</b> <a href="https://www.linkedin.com/in/zahidhasanmilu/"
                            target="_blank">https://www.linkedin.com/in/zahidhasanmilu/</a>
                    </li>
                    <li class="list-group-item"> <b> Present Address:</b> <a href="#">Mirpur 12, Dhaka,
                            Bangladesh.</a></li>
                    <li class="list-group-item"> <b> Permanent Address:</b> <a href="#">Fulbari, Dinajpur,
                            Bangladesh</a></li>

                </ul>

            </div>
        </div>

    </div>
    <br>
    <!-- ################ -->

</div>
{% endblock body %}